@model List<ozaktifvinc.Models.HakkimizdaMaddeler>

    @foreach(var i in Model)
    {
<div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="100">
    <i class="bi bi-easel flex-shrink-0"></i>
    <div>
        <h4><a href="" class="stretched-link">@i.MaddeBaslik</a></h4>
        <p>@i.Madde</p>
    </div>
</div><!-- End Icon Bo

x -->
    }