@model List<ozaktifvinc.Models.HakkimizdaMaddeler>

<table class="table">
  <thead>
    <tr>
      <th hidden scope="col">#</th>
      <th scope="col">Başlık</th>
      <th scope="col">içerik</th>
      <th scope="col">Düzenle</th>
      <th scope="col">Sil</th>
    </tr>
  </thead>
  <tbody>
     @foreach(var i in Model)
     {
    <tr>
      <th hidden scope="row">@i.Id</th>
      <td>@i.MaddeBaslik</td>
      <td>@i.Madde</td>
@*      <td><a class="btn btn-info" href="/Admin/Yonetim/HakkimizdaMaddeDuzenle/@i.Id">Düzenle</a></td>
*@      <td><a class="btn btn-danger" href="/Admin/Yonetim/HakkimizdaMaddeSil/@i.Id">Sil</a></td>
    </tr>
     }
  </tbody>
</table>