@model ozaktifvinc.Models.Header
@{
    ViewData["Title"] = "HeaderEkle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h4>HeaderEkle</h4>


<form method="post">
 
    <div hidden class="form-group col-sm-3">
    <label for="exampleInputPassword1">id</label>
    <input type="text" class="form-control col-sm-3" value="@Model.Id" name="Id" id="exampleInputPassword1" placeholder="">
  </div>
  <div class="form-group col-sm-3">
    <label for="exampleInputPassword1">Başlik</label>
    <input type="text" class="form-control col-sm-3" value="@Model.Baslik" name="Baslik" id="exampleInputPassword1" placeholder="">
  </div>
   <div class="form-group col-sm-3">
    <label for="exampleInputPassword1">Alt başlık</label>
    <input type="text" class="form-control col-sm-3" value="@Model.AltBaslik" name="AltBaslik" id="exampleInputPassword1" placeholder="">
  </div>
   <div class="form-group col-sm-3">
    <label for="exampleInputPassword1">Header Buton yazı</label>
    <input type="text" class="form-control col-sm-3" value="@Model.HeaderButton" name="HeaderButton" id="exampleInputPassword1" placeholder="">
  </div>
  
    <button type="submit" class="btn btn-primary">Kaydet</button>

</form>

